I want to create a kind of file-manager app.  It's core usage is to search a files-system,
or a sub-directry, and compute the, compute the md5sum for each file it finds.  It then saves the file path and the
md5sum to a database.  The app should also be able to search the database for a file path and return the md5sum.

General Requirements:
1. This app will run locally on the local system.
2. It should be implemtated in Python.
3. the app should provide a full featured UI.
4. It should use SQLite as it's persistemce store.


Features:
1.  Given a path to a directory, provided virecursively scan the directory and compute the md5sum for each file and store
    the md5sum and the path into the DB
2.  Given a path to a file, compute the md5sum and store the md5sum and the path into the DB.
3.  Given a parth to a file, compute its md5sum and report if the file is a duplicate of a
    file already recorded in the DB.
4.  Given a path to a directory scan the directory, caclculate the md5sum and record the md5sum file path into the DB
    but and report if any of the files are duplicates of files already recorded in the DB.
    Provide a list of the duplicates in a UI which allows the user to delete in bulk or selecltively.
